*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#3498db;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:15px;
    width:350px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    margin-bottom:20px;
}

.search-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:10px 15px;
    border:none;
    background:#3498db;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#2980b9;
}

.weather-card{
    margin-top:20px;
}

.weather-card p{
    margin:10px 0;
}
#weatherIcon{
    width:100px;
    height:100px;
}

#forecastContainer{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:10px;
}

.forecast-card{
    background:#f4f4f4;
    padding:10px;
    border-radius:10px;
    text-align:center;
}

.forecast-card img{
    width:60px;
}